<section class="hero is-medium is-danger">
  <div class="hero-body">
    <p class="title">
      Keep Your Ideas Safe
    </p>
    <p class="subtitle">
      no matter how to intract with someone
    </p>
  </div>
</section>