<section class="section">
    <h1 class="title">
      About
    </h1>
    <p class="subtitle">
      My first website with
      <strong>Bulma</strong>!
    </p>

  <div>
    This text is
    <em>not</em>
    within a
    <strong>block</strong>.
  </div>
  <div>
    This text
    <em>isn't</em>
    within a
    <strong>block</strong>
    either. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    efficitur sit amet massa fringilla egestas. Nullam condimentum luctus
    turpis.
  </div>
  <div>
    This text is also
    <em>not</em>
    within a
    <strong>block</strong>.
  </div>

</section>